<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>活动</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="./css/music.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <style>
        .placeholder {
            margin: 5px;
            padding: 0 10px;
            background-color: white;
            /* height: 2.3em; */
            line-height: 2.3em;
            /* color: #cfcfcf; */
        }

        .avatar {
            width: 35px;
            height: 35px;
            /* border-radius: 50%; */
            /* margin: 15px auto; */
            /* cursor: pointer; */
        }

        .avatar1 {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            /* margin: 15px auto; */
            /* cursor: pointer; */
        }

        .scan_li {
            width: 50px;
            height: 30px;
            float: left;
            list-style: none;
            margin: 10px auto;
            /* cursor: pointer; */
        }
    </style>
</head>

<body>
    <div v-if="isOpen" id="app" :style="`background:url(${activity.backgroundImage})`">
        <img :src="activity.goodsImage" width="100%" />
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div v-show="!activity.isEnd" class="placeholder" style="text-align: center;">
                    <h4>距离活动结束:</h4>
                    <div id="timer" style="font-size:20px">0天0小时0分0秒</div>
                </div>
                <div v-show="activity.isEnd" class="placeholder" style="text-align: center;">
                    <h3 style="color:red">活动已结束
                        </h4>
                </div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder">参与人数({{activity.scanNumber}}人)
                    <div class="weui-panel weui-panel_access">
                        <ul v-for="user in activity.scan_user" style="font-size:15px">
                            <li class="scan_li" class="weui-cell">
                                <div class="weui-cell__hd">
                                    <img :src=user.avatar class="avatar1">
                                </div>
                                <!-- <div class="weui-cell__bd">&nbsp;{{user.nickName}}</div> -->
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder">报名记录({{activity.joinNumber}}人)
                    <div class="weui-panel weui-panel_access" style="height:130px">
                        <!-- <div class="myscroll"> -->
                        <vue-seamless-scroll :data="activity.join_user" :class-option="classOption">
                            <ul class="weui-cells" style="font-size:15px">
                                <li v-for="order in activity.join_user" class="weui-cell">
                                    <div class="weui-cell__hd">
                                        <img :src=order.avatar class="avatar">
                                    </div>
                                    <div class="weui-cell__bd">
                                        {{order.userName}}<br>{{order.phone}}
                                    </div>
                                    <div class="weui-cell__bd">
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="weui-cell__ft">
                                        <div v-if="order.status === 3">已核销</div>
                                        <div v-if="order.status === 2" style="color:green">已支付</div>
                                        <div v-if="order.status === 1" style="color:rebeccapurple">待支付</div>
                                        <span style="color:red"> {{order.createTime}}</span>
                                    </div>
                                </li>
                            </ul>
                        </vue-seamless-scroll>
                        <!-- </div> -->
                    </div>

                </div>
            </div>
        </div>

        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder" style="text-align: center;">活动佣金排行榜
                    <div class="weui-panel weui-panel_access" style="height:200px">
                        <!-- <div class="myscroll"> -->
                        <vue-seamless-scroll :data="activity.reward_list" :class-option="classOption">
                            <ul style="width:100%;min-width:100%;">
                                <li v-for="reward in activity.reward_list" class="weui-flex">
                                    <span class="weui-flex__item" style="text-align:left;">{{reward.userName}}</span>
                                    <span class="weui-flex__item" style="text-align:right">佣金:<span
                                            style="color:red;display: inline-block;">￥{{reward.rewardAmount}}</span>元</span>
                                </li>
                            </ul>
                        </vue-seamless-scroll>

                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <img :src="activity.goodsDetail" width="100%" />
        <div class="weui-flex" v-show="isManager">
            <div class="weui-flex__item">
                <div class="placeholder" style="text-align: center;">
                    <a v-if="target_url" :href="`${target_url}/store_manage.html?i=${goodsId}&uid=${userId}`"
                        style="text-align:center">商家核销</a>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="weui-footer">
            <!-- <p class="weui-footer__text">Copyright © 2018-2020 geyl</p> -->
        </div>
        <div v-show="!activity.isEnd"
            style="overflow:hidden; position: fixed;bottom: 0;width: 100%;z-index: 10;text-align: center">
            <div class="weui-flex">
                <div class="weui-flex__item">
                    <div v-if="!isOrder">
                        <a href="javascript:;"
                            style="background:rgba(20, 180, 68, 0.877);width: 100%;height: 40px;line-height:40px;"
                            class="weui-btn weui-btn_plain-default open-popup" data-target="#formAdd">点击购买</a>
                    </div>
                    <div v-if="isOrder">
                        <a href="javascript:;"
                            style="background:rgba(20, 180, 68, 0.877);width: 100%;height: 40px;line-height:40px;"
                            class="weui-btn weui-btn_plain-default open-popup" data-target="#orderCode">我的兑换码</a>
                    </div>
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;"
                        style="background:rgba(20, 180, 68, 0.877);width: 100%;height: 40px;line-height:40px;"
                        class="weui-btn weui-btn_plain-default open-popup" data-target="#share">分享赚赏金</a>
                </div>
            </div>


        </div>
        <!-- 用户下单 -->
        <div id="formAdd" class="weui-popup__container popup-bottom">
            <div class="weui-popup__overlay"></div>
            <div class="weui-popup__modal">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" ref="userName" name="userName" placeholder="请输入姓名">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" ref="userPhone" name="userPhone" placeholder="请输入手机号">
                        </div>
                    </div>
                    <a href="javascript:;" @click="createOrder" class="weui-btn weui-btn_primary">确认提交</a>
                </div>
            </div>
        </div>
        <!-- 我的兑换码 -->
        <div id="orderCode" class="weui-popup__container popup-bottom">
            <div class="weui-popup__overlay"></div>
            <div class="weui-popup__modal" style="padding: 20px">
                <h3>兑换码:{{orderCode}}<h3>
                        <div id="qrcode">
                        </div>
            </div>
        </div>
        <!-- 音乐播放 -->
        <span id="musicControl">
            <a id="mc_play" class="on" onclick="play_music();">
                <audio id="musicfx" loop="loop" autoplay="autoplay" preload="auto" :src="activity.activityMusic">
                </audio>
            </a>
        </span>
        <!-- 悬浮按钮 -->
        <div class="leftNav-item">
            <ul>
                <li title="业务合作">
                    <i class="fa fa-comments"></i>
                    <a v-if="target_url" v-bind:href="`${target_url}/store_add.html`" class="rota">业务合作</a>
                </li>
                <li title="在线客服">
                    <i class="fa fa-phone"></i>
                    <a v-if="target_url" v-bind:href="`tel:${activity.storePhone}`" class="rota">联系商家</a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<!-- <script src="./js/jquery.vticker.min.js"></script> -->
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="./js/vue-seamless-scroll.min.js"></script>
<script src="./js/nav.js"></script>
<script src="./js/jquery.qrcode.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script>
    var remote_url = "http://www.hebiysg.cn/activity/";
    var target_url = "http://www.hebiysg.cn/marketing";
    // var remote_url = "http://127.0.0.1:8080/activity/";
    var pid = getQueryString('pid');
    var goodsId = getQueryString('i');
    var code = getQueryString('code');
    var music_mp3;
    var post_flag = false;
    var vm = new Vue({
        el: '#app',
        data: {
            remote_url: remote_url,
            target_url: target_url,
            isOpen: false,
            userId: '',
            openid: '',
            isOrder: true,
            isManager: false,
            goodsId: goodsId,
            orderCode: '',
            activity: {
                scanNumber: 0,
                joinNumber: 0,
                status: 1,
                isEnd: false,
                goodsImage: '',
                goodsName: '',
                goodsDetail: '',
                backgroundImage: '',
                activityMusic: '',
                endTime: '',
                storeName: '',
                storePhone: '',
                scan_user: [
                    // { nickName: '李四', avatar: 'http://ppqnam2qx.bkt.clouddn.com/FvG41YMFLOr5OffW_h8IepTFk173' },
                ],
                join_user: [
                    // { userName: '张欢', phone: '13524002701', createTime: '2019-05-01 10:00:00', status: 3, avatar: 'http://ppqnam2qx.bkt.clouddn.com/FvG41YMFLOr5OffW_h8IepTFk173' },
                ],
                reward_list: [
                    // { userName: '张欢', childNum: 4, rewardAmount: 160 }
                ]
            }
        },
        created() {
            // this.isOpen = true;
            // this.getActivityGoods(goodsId);
            if (!isWeiXin()) {
                $.alert("请在微信打开");
            } else {
                if (pid != null && pid != '') {
                    window.sessionStorage.setItem('pid', pid);
                }
                if (goodsId != null && goodsId != '') {
                    if (code != null) {
                        this.isOpen = true;
                        this.createUser(code);
                    } else {
                        this.getCode();
                    }
                } else {
                    $.alert("网址有误");
                }
            }
        },
        methods: {
            //获取微信code
            getCode: function () {
                axios.get(remote_url + '/h5/activity/getCode/' + goodsId + '/' + pid).then(function (
                    response) {
                    window.open(response.data.data);
                }).catch(function (error) {
                    console.log(error);
                    $.alert("网络错误");
                });
            },
            //获取活动数据
            getActivityGoods: function (goodsId) {
                var temp = this;
                //发送get请求
                axios.get(remote_url + '/h5/activity/goods/' + goodsId)
                    .then(function (response) {
                        temp.activity = Object.assign({}, response.data.data);
                        document.title = temp.activity.storeName;
                        if (temp.activity.status == 0) {
                            temp.activity.isEnd = true;
                            $.alert("该活动已结束");
                        } else {
                            var endDate = temp.activity.endTime.split("-");
                            setInterval("Timer(" + endDate[0] + "," + endDate[1] + "," + endDate[2] +
                                ",00,00,00)", 1000);
                        }
                        temp.getSign();
                    })
                    .catch(function (error) {
                        console.log(error);
                        $.alert("网络错误");
                    });
            },
            createUser: function (code) {
                var temp = this;
                let userCode = 'goodsId=' + goodsId + '&code=' + code;
                axios.post(remote_url + '/h5/activity/user/add', userCode)
                    .then(function (response) {
                        temp.getActivityGoods(goodsId);
                        temp.userId = response.data.data.userId;
                        temp.openid = response.data.data.openid;
                        temp.isOrder = response.data.data.order;
                        temp.isManager = response.data.data.manager;
                        if (response.data.data.order) {
                            temp.orderCode = response.data.data.orderCode;
                            $('#qrcode').qrcode({
                                render: "table",
                                height: 350,
                                width: 350,
                                correctLevel: 0,
                                text: response.data.data.orderCode
                            });
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            //下单
            createOrder: function () {
                var order = {
                    "goodsId": goodsId,
                    "phone": this.$refs.userPhone.value,
                    "userId": this.userId,
                    "userName": this.$refs.userName.value,
                    "openid": this.openid,
                    "parentId": window.sessionStorage.getItem('pid')
                }
                if (order.phone == '' || order.phone == null) {
                    $.alert("请填写手机号");
                    return;
                }
                if (order.userName == '' || order.userName == null) {
                    $.alert("请填写姓名");
                    return;
                }
                if (post_flag) return; //如果正在提交则直接返回，停止执行
                post_flag = true; //标记当前状态为正在提交状态
                axios.post(remote_url + '/h5/activity/order/add', order)
                    .then(function (response) {
                        if (typeof WeixinJSBridge == "undefined") {
                            if (document.addEventListener) {
                                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                            } else if (document.attachEvent) {
                                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                            }
                        } else {
                            onBridgeReady(response.data.data);;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                post_flag = false; //如果正在提交则直接返回，停止执行
            },
            getSign: function () {
                var temp = this;
                var url = window.location.href;
                axios.post(remote_url + '/h5/activity/getSign', {
                        'url': url
                    })
                    .then(function (response) {
                        if (response.data.code === 200) {
                            console.log(response.data.data);
                            var appId = response.data.data.appId;
                            var nonceStr = response.data.data.nonceStr;
                            var timestamp = response.data.data.timestamp;
                            var signature = response.data.data.signature;
                            wx.config({
                                debug: false,
                                appId: appId,
                                timestamp: timestamp,
                                nonceStr: nonceStr,
                                signature: signature,
                                jsApiList: [
                                    'checkJsApi',
                                    'chooseImage',
                                    'scanQRCode',
                                    'updateAppMessageShareData',
                                    'updateTimelineShareData',
                                ]
                            });
                            var shareData = {
                                "title": temp.activity.goodsName, // 分享标题
                                "desc": '赶紧来参加活动哦！',
                                "link": temp.target_url + "/?i=" + goodsId + "&pid=" + temp.userId,
                                "imgUrl": temp.activity.goodsImage,
                                success: function (res) {
                                    // alert(res)
                                }
                            };
                            wx.ready(function () {
                                wx.updateAppMessageShareData(shareData);
                                wx.updateTimelineShareData(shareData);
                            });
                        } else {
                            $.alert(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        $.alert("网络错误" + error);
                    });
            }
        }
    });

    function onBridgeReady(params) {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', {
                "appId": params.appId, //公众号名称，由商户传入     
                "timeStamp": params.timeStamp, //时间戳，自1970年以来的秒数     
                "nonceStr": params.nonceStr, //随机串     
                "package": params.package,
                "signType": "MD5", //微信签名方式：     
                "paySign": params.paySign //微信签名 
            },
            function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    // 使用以上方式判断前端返回,微信团队郑重提示：
                    //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    $.alert("支付成功");
                }
            });
    }

    /**
     * 播放音乐
     */
    function play_music() {
        if ($('#mc_play').hasClass('on')) {
            music_mp3.pause();
            $('#mc_play').attr('class', 'stop');
        } else {
            music_mp3.play();
            $('#mc_play').attr('class', 'on');
        }
    }

    function just_play() {
        music_mp3.play();
        $('#mc_play').attr('class', 'on');
    }

    window.onload = function () {
        music_mp3 = document.getElementById('musicfx');
        setTimeout(function () {
            just_play(), 2000
        });
    }

    //倒计时
    function Timer(year, month, day, hour, minute, second) {

        var leftTime = (new Date(year, month - 1, day, hour, minute, second)) - (new Date()); //计算剩余的毫秒数 
        var days = parseInt(leftTime / 1000 / 60 / 60 / 24, 10); //计算剩余的天数 
        var hours = parseInt(leftTime / 1000 / 60 / 60 % 24, 10); //计算剩余的小时 
        var minutes = parseInt(leftTime / 1000 / 60 % 60, 10); //计算剩余的分钟 
        var seconds = parseInt(leftTime / 1000 % 60, 10); //计算剩余的秒数 
        days = checkTime(days);
        hours = checkTime(hours);
        minutes = checkTime(minutes);
        seconds = checkTime(seconds);

        if (isNaN(days)) {} else {
            document.getElementById("timer").innerHTML = "<h3>" + '<span style="color:red">' + days + '</span> ' +
                "天 " + '<span style="color:red">' + hours + '</span> ' + "小时 " + '<span style="color:red">' +
                minutes +
                '</span> ' + "分 " + '<span style="color:red">' + seconds + '</span> ' + "秒" + "</h3>";
        }

    }

    function checkTime(i) { //将0-9的数字前面加上0，例1变为01 
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    /**
     * 获取url参数
     * @param name
     * @returns {null}
     * @constructor
     */
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    };

    //是否是微信
    function isWeiXin() {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            return true;
        } else {
            return false;
        }
    }
</script>

<!-- 如果使用了某些拓展插件还需要额外的JS -->
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>

</html>